<div class="container">
    <div class="row">
         <div class="col-xl-4 col-md-6 col-xs-10 offset-xl-4 offset-md-3 offset-xs-1 p-t-10">             
             <div class="card">
                <div class="card-block text-xs-center">
                    <h1 class="display-1">404</h1>
                    <h6 class="card-title">Opps, it seems that you don't have access to this page</h6>
                    <!-- <p class="card-text"> If you are sure it should, search for it.</p> -->
                    
                    <!-- <form (ngSubmit)="searchResult()" method="get">
                        <div class="form-group">
                            <input class="form-control" placeholder="Enter search keyword..." type="text">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-main" type="submit"><i class="fa fa-search"></i> Submit</button>
                        </div>
                    </form> -->

                </div>
             </div>
         </div>
    </div>
 </div>

