<nav class="navbar az-navbar"> 
    <a class="navbar-brand" [routerLink]="['/app/dashboard']"> 
        <img src="assets/img/logo/logo.png" alt="" class="hidden-sm-down" style="width: 83%;height: 48px;margin: -6px 0 0 0;"> 
        <img src="assets/img/logo/logo.png" alt="" class="hidden-md-up">
        <!-- <h2 style="color: white;margin: 2px 0 0 38px;">Motocade</h2> -->
    </a>
    <ul class="nav navbar-nav">
        <li>
            <a (click)="toggleMenu()" class="collapse-menu-link ion-navicon" id="collapse-menu-link"></a>
        </li>
        <li style="text-align: center">

        </li> 
        <div class="pull-right">

            <messages></messages>

            <div class="dropdown pull-right user-menu">
                <a class="dropdown-toggle user-link" data-toggle="dropdown" href="#" role="button" aria-expanded="false"> 
                    <img src="assets/img/users/admin.png" alt="user-img" class="img-circle user-img">
                    <span class="hidden-md-down">Admin</span>
                </a>

                <ul class="dropdown-menu">
                    <li class="user-info"> 
                        <img src="assets/img/users/admin.png" alt="user-img" class="img-circle user-img">
                        <p>Admin</p>
                    </li>
                    <a class="dropdown-item" data-toggle="modal" data-target="#reset-modal" style="cursor: pointer;"><i class="fa fa-lock"></i>Reset password</a>

                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" [routerLink]="['/login']"><i class="fa fa-power-off"></i>Log out</a>
                </ul>
            </div>
        </div>
    </ul>
</nav>


<div class="modal fade" id="reset-modal" tabindex="-1" role="dialog" aria-labelledby="modal-label" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-transform">
                Reset Password
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="modal-label"></h4>
            </div>
            <form [formGroup]="rePass" (ngSubmit)="resetPass(rePass)">
                <fieldset>
                    <div class="modal-body">
                        <div class="form-group col-xs-12">
                            <label for="input-2" class="col-xs-3 control-label">OLD Password:</label>
                            <div class="col-xs-9">
                                <input type="password" class="form-control checking-field" id="input-2" name="oldPassword"
                                    placeholder="Enter old password" [formControl]="rePass.controls['oldPassword']" [ngModel]="rePass.oldPassword">

                                <div *ngIf="rePass.controls['oldPassword'].errors && (rePass.controls['oldPassword'].dirty || rePass.controls['oldPassword'].touched)"
                                    class="alert alert-danger">
                                    <div [hidden]="!rePass.controls['oldPassword'].errors.required">
                                        password is required
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-xs-12">
                            <label for="input-3" class="col-xs-3 control-label">New Password:</label>
                            <div class="col-xs-9">
                                <input type="password" class="form-control checking-field" id="input-3" minlength="6"
                                    name="newPassword" placeholder="Enter new password" [formControl]="rePass.controls['newPassword']"
                                    [ngModel]="rePass.newPassword">

                                <div *ngIf="rePass.controls['newPassword'].errors && (rePass.controls['newPassword'].dirty || rePass.controls['newPassword'].touched)"
                                    class="alert alert-danger">
                                    <div [hidden]="!rePass.controls['newPassword'].errors.required">
                                        password is required
                                    </div>
                                    <div [hidden]="!rePass.controls['newPassword'].errors.minlength">
                                        Password must be at least 6 characters long.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-xs-12">
                            <label for="input-4" class="col-xs-3 control-label" >Confirm Password</label>
                            <div class="col-xs-9">
                                <input type="password" class="form-control checking-field" id="input-4" minlength="6" name="confirmPassword" placeholder="Enter confirm password" [formControl]="rePass.controls['confirmPassword']"
                                    [ngModel]="rePass.confirmPassword">
                                <div *ngIf="rePass.controls['confirmPassword'].errors && (rePass.controls['confirmPassword'].dirty || rePass.controls['confirmPassword'].touched)"
                                    class="alert alert-danger">
                                    <div *ngIf="rePass.controls['confirmPassword'].value != rePass.controls['newPassword'].value" class="alert alert-danger">
                                        Password not match
                                    </div>
                                    <div [hidden]="!rePass.controls['confirmPassword'].errors.required">
                                        password is required
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-xs-12" style="text-align: center">
                            <div class="col-lg-10 col-lg-offset-2">
                                <button type="submit" class="btn btn-primary" [disabled]="!rePass.valid">Submit</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>

        </div>
    </div>
</div>