.divText {
    background: rgba(2, 74, 136, 0.8);
    border-color: rgba(2, 74, 136, 0.8);
}
.custom{
    cursor: pointer;
    color: #22a1e4 !important;
}
.table td a.custom:hover {
    color: blue !important;
    text-decoration: underline !important;
}
div#userDetail td {
    border: 0;
}

.m-img-upload-btn{
    position: relative;
    padding: 0;
    width: calc(100% - 30px);
    height: 38px;
    cursor: pointer;
    top: 45px;
    opacity: 0;
}
.images-container{
    width: 100%;
    top: 15px;
    border: 2px dashed #ccc;
    background: rgb(241, 241, 241);
    min-height: 165px;
    padding: 10px;
    display: block;
    .m-image-wrapper{
        position: relative;
        display: inline-block;
        margin: 10px;
        width: 120px;
        height: 120px;
        .m-delete-img{
            position: absolute;
            top: 8px;
            right: 10px;
            border: 2px solid #fff;
            color: #fff;
            padding: 3px 5px;
            border-radius: 50%;
            visibility: hidden;
            cursor: pointer;
        }
        &:hover .m-delete-img{
            visibility: visible;
        }
        img{
           width: 120px;
           height: 120px;          
        }
    }   
}


#phone_mock {
    width: 300px;
    position: absolute;
    left: calc(50% - 135px);
    top: calc(50% - 100px);
}
#phone_content{
    position:relative
}
div#phone_content {
    position: absolute;
    top: calc(50% - 150px);
}
div#phone_content {
    position: absolute;
    top: calc(50% - 150px);
    width: 230px;
    height: 300px;
    margin-left: 23px;
        overflow: auto;
    background: white;
    border-radius: 5px;
    text-align: center
}

img#content_img {
    height: 140px;
    width: 230px;
}
div#phone_content h1 {
    font-size: 12px;
    font-weight: 600;
}
div#phone_content p {
    font-size: 10px;
}

div#phone_content button {
    position: absolute;
    bottom: 0px;
    padding: 5px;
    font-size: 10px;
    background: white;
    border: 1px solid #d2d2d2;
    cursor:pointer
}
button#know_more {
    position: absolute;
    left: 0px;
    width: 50%;
    display: block;
}
button#cancel {
    right: 0px;
    width: 50%;
    font-size: 10px;
    padding: 5px;
    display: block;
}
#phone_content:hover #know_more{
    display: none;
}
#phone_content:hover #cancel{
    display: none;
}
button#send {
    right: 0px;
    width: 100%;
    font-size: 10px;
    padding: 0px;
}
span#close_button {
    position: absolute;
    right: 43px;
    text-decoration: none;
    top: calc(50% - 163px);
    background: white;
    padding: 5px 9px;
    border-radius: 50%;
    font-size: 10px;
    z-index: 99;
    border: 2px solid #92d3f1;
    cursor: pointer;
}

#phone_content #send {
    display: none;
}
#phone_content:hover #send {
    display: block;
}

span#close_button a {
    background: white;
    text-decoration: none;
    color: #75c7ec;
    font-size: 10px;
    font-weight: 600;
}
span#close_button:hover {
    transform: rotate(360deg);
    border: 2px solid #046694;
    transition: all 200ms ease-in-out;
}
button#sendxx {
    position: absolute;
    bottom: 0px !important;
    width: 100%;
    left: 0;
}
span#close_button {
    position: absolute;
    right: 43px;
    text-decoration: none;
    top: calc(50% - 163px);
    background: white;
    padding: 5px 9px;
    border-radius: 50%;
    font-size: 10px;
    z-index: 99;
    border: 2px solid #92d3f1;
    cursor: pointer;
}
span#close_button a {
    background: white;
    text-decoration: none;
    color: #75c7ec;
    font-size: 10px;
    font-weight: 600;
}
span#close_button:hover {
    transform: rotate(360deg);
    border: 2px solid #046694;
    transition: all 200ms ease-in-out;
}
















.m-img-upload-btn{
    position: relative;
    padding: 0;
    width: calc(100% - 30px);
    height: 38px;
    cursor: pointer;
    top: 45px;
    opacity: 0;
}
.images-container{
    width: 100%;
    top: 15px;
    border: 2px dashed #ccc;
    background: rgb(241, 241, 241);
    min-height: 165px;
    padding: 10px;
    display: block;
    .m-image-wrapper{
        position: relative;
        display: inline-block;
        margin: 10px;
        width: 120px;
        height: 120px;
        .m-delete-img{
            position: absolute;
            top: 8px;
            right: 10px;
            border: 2px solid #fff;
            color: #fff;
            padding: 3px 5px;
            border-radius: 50%;
            visibility: hidden;
            cursor: pointer;
        }
        &:hover .m-delete-img{
            visibility: visible;
        }
        img{
           width: 120px;
           height: 120px;          
        }
    }   
}

.img-upload-btn{
    position: absolute;
    padding: 0;
    width: calc(100% - 30px);
    height: 38px;
    opacity: 0;
    margin: 0 0 0 47px;
}

.image-wrapper{
    position: relative;
    .delete-img{
        position: absolute;
        top: 8px;
        right: 53px;
        border: 2px solid #fff;
        color: #fff;
        padding: 3px 5px;
        border-radius: 50%;
        visibility: hidden;
        cursor: pointer;
    }
    &:hover .delete-img{
        visibility: visible;
    }
}


.loader {
    color: #ff3e82;
    margin: -88px 0 53px 1px;
    // font-size: 5px;
    // margin: -67px 0 66px 110px;
    // color: #ffffff;
    // font-size: 20px;
    // margin: 100px auto;
    // width: 2em;
    // height: 2em;
    // border-radius: 50%;
    // position: relative;
    // text-indent: -9999em;
    // -webkit-animation: load4 1.3s infinite linear;
    // animation: load4 1.3s infinite linear;
    // -webkit-transform: translateZ(0);
    // -ms-transform: translateZ(0);
    // transform: translateZ(0);
  }
//   @-webkit-keyframes load4 {
//     0%,
//     100% {
//       box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
//     }
//     12.5% {
//       box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
//     }
//     25% {
//       box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
//     }
//     37.5% {
//       box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
//     }
//     50% {
//       box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
//     }
//     62.5% {
//       box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
//     }
//     75% {
//       box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
//     }
//     87.5% {
//       box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
//     }
//   }
//   @keyframes load4 {
//     0%,
//     100% {
//       box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
//     }
//     12.5% {
//       box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
//     }
//     25% {
//       box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
//     }
//     37.5% {
//       box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
//     }
//     50% {
//       box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
//     }
//     62.5% {
//       box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
//     }
//     75% {
//       box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
//     }
//     87.5% {
//       box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
//     }
//   }
  