
<div class="col-xl-12 bottom-15 pl-0 pr-0 each-page-content">
    <div widget class="card col-xs-12 zeroPadding float-left">
        <div class="card-header custom-style-header">
            <div class="row">
                <div class="pr-0" style="float: left;">
                    <select id="rowpage" class="form-control input-sm" style="width: 86%;margin: -2px 0 0 14px;" [(ngModel)]="rowsOnPage" (change)="ngOnInit();">
                    <option [ngValue]="10">10</option>
                    <option [ngValue]="20">20</option>
                    <option [ngValue]="40">40</option>
                    <option [ngValue]="100">100</option>
                </select>
                </div>
                <div class="pl-0">
                    <label class="label-control" style="margin: 0.9% 0 0 0.7%;">records per page</label>
                </div>
                <input class="cuSearch" placeholder="Search.." type="text" style="margin: -1.6% 2% 0 0" [(ngModel)]="searchTerm" (keyup)="getPageOnSearch(myinput.value)"
                    #myinput>
            </div>
        </div>
        <div class="table-block card-block widget-body">
            <div class="container-fluid pl-0 pr-0">
                <div class="col-xs-12 col-md-12 col-lg-12 pl-0 pr-0">

                    <div class="panel panel-default">
                        <table class="table table-hover" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                            <thead class="thead">
                                <tr>
                                    <th style="text-align: center;width: 6%">#</th>
                                    <th style="width: 25%;text-align: center;">Post</th>
                                    <th style="width: 30%;text-align: center;">Post Owner</th>
                                    <th style="width: 19%;text-align: center;">Last Offer</th>
                                    <th style="width: 21%;text-align: center;">Last Offer Placed On</th>
                                    <th style="width: 21%;text-align: center;">Status</th>
                                    <th style="width: 10%;text-align: center;">Detail</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngIf="msg">
                                    <td colspan="11">No Data Available</td>
                                </tr>
                                <tr *ngFor="let data of purchesesData; let i = index" [attr.data-index]="i">
                                    <td>{{i+1}}</td>
                                    <td>{{data.productName}}</td>
                                    <td>
                                        <a class="custom" (click)="gotoUserDatail(data.postedBy)">{{data.postedBy}}</a>
                                    </td>
                                    <td>({{data.currency}}){{data.price}}</td>
                                    <td>{{data.offerData[0].offerTime | date}}</td>
                                    <td *ngIf="data.offerData[0].offerType == 1">Offer Made</td>
                                    <td *ngIf="data.offerData[0].offerType == 2">Offer Accepted</td>
                                    <td *ngIf="data.offerData[0].offerType == 3">Offer Countered</td>
                                    <td>
                                        <button class="button-cust" type="button" (click)="gotoViewDetail(data.postId,data.username)">
                                            <i class="ion-eye fa-2x" style="cursor: pointer;"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="100">
                                        <button type="button" id="loadButton" class="lBtn" (click)="getPage()">
                                            <i class="fa fa-chevron-circle-down fa-2x" style="cursor: pointer;"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="userDetail" role="dialog" style="top: -140px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" style="padding: 20px 0px 20px 0px;">
                <div class="container-fluid">
                    <div class="item active col-xs-12">
                        <div class="col-sm-12 tableContent" *ngFor="let data of detailData">
                            <div class="col-xs-12 zeroPadding" style="margin: 0 0 2% 0%;text-align: center;" *ngIf="data.profilePicUrl == null">
                                <span><img class="img-circle" src="assets/img/users/default_user.jpg" style="width: 50%;height: 255px;border-radius: 50%;"></span>
                            </div>
                            <div class="col-xs-12 zeroPadding" style="margin: 0 0 2% 0%;text-align: center;" *ngIf="data.profilePicUrl != null">
                                <span><img class="img-circle" src={{data.profilePicUrl}} style="width: 50%;height: 255px;border-radius: 50%;" onError="this.src='assets/img/users/default_user.jpg';"></span>
                            </div>
                            <table class="custom-table table table-striped">
                                <tbody>
                                    <tr>
                                        <td class="pull-left">User Full Name</td>
                                        <td class="pull-right">{{data.fullName}}</td>
                                    </tr>

                                    <tr>
                                        <td class="pull-left">User Name</td>
                                        <td class="pull-right">{{data.username}}</td>
                                    </tr>
                                    <tr>
                                        <td class="pull-left">Email</td>
                                        <td class="pull-right">{{data.email}}</td>
                                    </tr>
                                    <tr *ngIf="data.gender == null">
                                        <td class="pull-left">Gender</td>
                                        <td class="pull-right">Not Specified</td>
                                    </tr>
                                    <tr *ngIf="data.gender != null">
                                        <td class="pull-left">Gender</td>
                                        <td class="pull-right">{{data.gender}}</td>
                                    </tr>
                                    <tr>
                                        <td class="pull-left">Phone</td>
                                        <td class="pull-right">{{data.phoneNumber}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="chatPopup" role="dialog" style="top: -18%;">
    <div class="modal-dialog">
        <div class="modal-content" style="border-radius: 6px !important;">
            <div class="modal-body">
                <div class="chatList zeroPadding col-xs-12">
                    <div class="col-xs-12 zeroPadding shadowBox">
                        <div>
                            <span class="pull-left">
                                <a href="#" data-toggle="tooltip" title="Hooray!">
                                <img class="profileImg" title="seller" src="https://visit.nemedic.com/storage/default.jpg" onError="this.src='http://www.onemediatv.com/public/common/images/_default_user_social.gif';">
                                </a>
                            </span>
                        </div>
                        <div class="listChat">
                            Some text in the modal
                        </div>
                    </div>
                    <div class="col-xs-12 zeroPadding shadowBox text-right">
                        <div>
                            <span class="pull-right"><img class="profileImg" title="buyer" style="margin-right: 0px;margin-left: 10px;" src="https://visit.nemedic.com/storage/default.jpg" onError="this.src='http://www.onemediatv.com/public/common/images/_default_user_social.gif';"></span>
                        </div>
                        <div class="listChat">
                            Somcfgvd ext in the modal
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>