<div class="col-xs-12 bottom-15 pl-0 pr-0 each-page-content">
    <div widget class="card col-xs-12 zeroPadding float-left">
        <div class="card-header custom-style-header">
            <div class="row col-xs-12">
                <div class="col-xs-3 pr-0 zeroPadding">
                    <select id="rowpage" class="form-control input-sm" style="width: 29%;display: inline-block;" [(ngModel)]="rowsOnPage" (change)="ngOnInit();">
                        <option [ngValue]="10">10</option>
                        <option [ngValue]="20">20</option>
                        <option [ngValue]="40">40</option>
                        <option [ngValue]="100">100</option>
                    </select>
                    <label class="label-control">records per page</label>
                </div>
            </div>
        </div>
        <div class="table-block card-block widget-body">
            <div class="container-fluid pl-0 pr-0">
                <div class="col-xs-12 col-md-12 col-lg-12 pl-0 pr-0">

                    <div class="panel panel-default">
                        <table class="table table-hover">
                            <thead class="thead">
                                <tr>
                                    <th style="width:8%;text-align: center;">#</th>
                                    <th style="width:48%">Name</th>
                                    <th style="width:20%">Phone No.</th>
                                    <th style="width:24%">Email</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngIf="msg">
                                    <td colspan="13" style="text-align: center">No data found</td>
                                </tr>
                                <tr *ngFor="let user of data | paginate: { itemsPerPage: rowsOnPage, currentPage: p }; let i = index">

                                    <td>{{i+1}}</td>
                                    <td>{{user.username}}</td>
                                    <td>{{user.phoneNumber}}</td>
                                    <td>{{user.email}}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="100">
                                        <pagination-controls (pageChange)="p = $event" class="cursor-pointer float-right"></pagination-controls>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>