<div class="col-xs-12 bottom-15 pl-0 pr-0 each-page-content">
    <div widget class="card col-xs-12 zeroPadding float-left">
        <div class="card-header custom-style-header">
            <div class="row">
                <div class="pr-0" style="float: left;">
                    <select id="rowpage" class="form-control input-sm" style="margin: -1px 0px 0px 13px;width: 80%;padding: inherit;" [(ngModel)]="rowsOnPage"
                        (change)="ngOnInit();">
                        <option [ngValue]="10">10</option>
                        <option [ngValue]="20">20</option>
                        <option [ngValue]="40">40</option>
                        <option [ngValue]="100">100</option>
                </select>
                </div>
                <div class="pl-0" style="float: left;">
                    <label class="label-control" style="margin: 10px 0px 0px 6px;">records per page</label>
                </div>
                <div>
                    <button class="btn btn-primary roleBtn" (click)="gotoAddRole()">Add Role</button>
                    <button class="btn btn-primary roleBtn" data-toggle="modal" data-target="#addAdmin">Add User</button>
                </div>
            </div>
        </div>
        <div class="table-block card-block widget-body">
            <div class="container-fluid pl-0 pr-0">
                <div class="col-xs-12 col-md-12 col-lg-12 pl-0 pr-0">
                    <div class="panel panel-default">
                        <table class="table table-hover">
                            <thead class="thead">
                                <tr>
                                    <th style="width: 7%;text-align: center">#</th>
                                    <th style="width: 43%;text-align: center">User Name</th>
                                    <th style="width: 37%;text-align: center">Email</th>
                                    <th style="width: 37%;text-align: center">Created On</th>
                                    <th style="width: 14%;text-align: center">Action</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngIf="msg">
                                    <td colspan="7">No data found</td>
                                </tr>
                                <tr *ngFor="let data of userData | paginate: { itemsPerPage: rowsOnPage, currentPage: p}; let i = index" [attr.data-index]="i">
                                    <td scope="row">{{i+1}}</td>
                                    <td>{{data.managerName}}</td>
                                    <td>{{data.email}}</td>
                                    <td>{{data.createdOn | date}}</td>
                                    <td>
                                        <div class="btn-hover">
                                            <button data-toggle="modal" class="btn btn-danger btn-xs" (click)="gotoDeleteRole(data.managerName)">
                                        <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                        </div>

                                        <div class="btn-hover">
                                            <button data-toggle="modal" data-target="#editAdmin" class="btn btn-primary btn-xs" (click)="gotoEditData(data)">
                                          <span class="glyphicon glyphicon-pencil"></span>
                                        </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="100">
                                        <pagination-controls (pageChange)="p = $event" class="cursor-pointer float-right"></pagination-controls>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addAdmin" tabindex="-1" role="dialog" aria-labelledby="modal-label" style="display: none;padding-top: 0%; top: -4%;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Add User
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="modal-label"></h4>
            </div>
            <form [formGroup]="roles" (ngSubmit)="submitForm(roles)">
                <fieldset>
                    <div class="modal-body">
                        <div class="form-group col-xs-12 zeroPadding">
                            <label for="input-2" class="col-xs-3 control-label">Role</label>
                            <div class="col-xs-9">
                                <select class="form-control" [formControl]="roles.controls['roleId']">
                                            <option value="" disabled selected>Select Role</option>
                                            <option *ngFor="let dt of data" [value]="dt._id">{{dt.roleName}}</option>
                                        </select>
                                <div *ngIf="roles.controls['roleId'].errors && (roles.controls['roleId'].dirty || roles.controls['roleId'].touched)" class="alert alert-danger">
                                    <div [hidden]="!roles.controls['roleId'].errors.required">
                                        Role is Required
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-xs-12 zeroPadding">
                            <label for="input-2" class="col-xs-3 control-label">User Name</label>
                            <div class="col-xs-9">
                                <input type="text" class="form-control checking-field" id="input-2" name="managerName" [formControl]="roles.controls['managerName']"
                                    [ngModel]="roles.managerName">

                                <div *ngIf="roles.controls['managerName'].errors && (roles.controls['managerName'].dirty || roles.controls['managerName'].touched)"
                                    class="alert alert-danger">
                                    <div [hidden]="!roles.controls['managerName'].errors.required">
                                        Username is Required
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-xs-12 zeroPadding">
                            <label for="input-2" class="col-xs-3 control-label">Email</label>
                            <div class="col-xs-9">
                                <input type="text" class="form-control checking-field" id="input-2" name="email" [formControl]="roles.controls['email']"
                                    [ngModel]="roles.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">

                                <div *ngIf="roles.controls['email'].errors && (roles.controls['email'].dirty || roles.controls['email'].touched)" class="alert alert-danger">
                                    <div [hidden]="!roles.controls['email'].errors.required">
                                        Email is Required
                                    </div>
                                    <div [hidden]="!roles.controls['email'].errors.pattern">
                                        Email is Not Valid
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-xs-12 zeroPadding">
                            <label for="input-2" class="col-xs-3 control-label">Password</label>
                            <div class="col-xs-9">
                                <input type="text" class="form-control" id="input-2" name="password" [formControl]="roles.controls['password']" [ngModel]="roles.password"
                                    minlength="6">

                                <div *ngIf="roles.controls['password'].errors && (roles.controls['password'].dirty || roles.controls['password'].touched)"
                                    class="alert alert-danger">
                                    <div [hidden]="!roles.controls['password'].errors.required">
                                        Password is required
                                    </div>
                                    <div [hidden]="!roles.controls['password'].errors.minlength">
                                        Password should be minimum 6 digit
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="form-group col-xs-12 zeroPadding" style="max-height: 332px;overflow: auto;">
                            <table class="table table-hover">
                                <thead class="thead-inverse">
                                    <tr>
                                        <th style="width: 56%;text-align: center">Page</th>
                                        <th style="width: 10%;text-align: center">View</th>
                                        <th style="width: 10%;text-align: center">Add</th>
                                        <th style="width: 10%;text-align: center">Edit</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let d of pageData.pages">
                                    <tr>
                                        <td>{{d.name}}</td>
                                        <td><label><input type="checkbox" (change)="addUserEvent($event,d.name,'view')"></label></td>
                                        <td><label><input type="checkbox" (change)="addUserEvent($event,d.name,'add')"></label></td>
                                        <td><label><input type="checkbox" (change)="addUserEvent($event,d.name,'edit')"></label></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div> -->
                        <div class="form-group col-xs-12 zeroPadding" style="text-align: center">
                            <div class="col-xs-10 col-xs-offset-2" style="margin: 13px 0 0 73px;">
                                <button type="submit" class="btn btn-primary" [disabled]="!roles.valid">Submit</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="editAdmin" tabindex="-1" role="dialog" aria-labelledby="modal-label" style="display: none;padding-top: 0%; top: -4%;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Edit User
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="modal-label"></h4>
            </div>
            <form [formGroup]="editRoles" (ngSubmit)="editRoleForm(editRoles)">
                <fieldset>
                    <div class="modal-body">
                        <div class="form-group col-xs-12 zeroPadding">
                            <label for="input-2" class="col-xs-3 control-label">Role</label>
                            <div class="col-xs-9">
                                <select class="form-control" [formControl]="editRoles.controls['roleId']" id="roleSelect">
                                            <!-- <option value='' disabled selected></option> -->
                                            <option *ngFor="let dt of data" [value]="dt._id">{{dt.roleName}}</option>
                                        </select>
                                <!-- <div *ngIf="editRoles.controls['roleId'].errors && (editRoles.controls['roleId'].dirty || editRoles.controls['roleId'].touched)"
                                    class="alert alert-danger">
                                    <div [hidden]="!editRoles.controls['roleId'].errors.required">
                                        Role is Required
                                    </div>
                                </div> -->
                            </div>
                        </div>
                        <div class="form-group col-xs-12 zeroPadding">
                            <label for="input-2" class="col-xs-3 control-label">Email</label>
                            <div class="col-xs-9">
                                <input type="text" class="form-control checking-field" id="input-2" name="email" [formControl]="editRoles.controls['email']"
                                    [(ngModel)]="obj.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">

                                <div *ngIf="editRoles.controls['email'].errors && (editRoles.controls['email'].dirty || editRoles.controls['email'].touched)"
                                    class="alert alert-danger">
                                    <div [hidden]="!editRoles.controls['email'].errors.required">
                                        Email is Required
                                    </div>
                                    <div [hidden]="!editRoles.controls['email'].errors.pattern">
                                        Email is Not Valid
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-xs-12 zeroPadding" style="text-align: center">
                            <div class="col-xs-10 col-xs-offset-2" style="margin: 13px 0 0 73px;">
                                <button type="submit" class="btn btn-primary" [disabled]="!editRoles.valid">Submit</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>