<div class="col-xs-12 bottom-15 pl-0 pr-0 each-page-content">
  <div widget class="col-xs-12 zeroPadding float-left">
    <div class="row">
      <div *ngFor="let item of chartData" class="col-xl-3 col-lg-6 col-md-6 bottom-30">
        <div class="card text-center info-box" [ngClass]="'card-'+item.class">
          <div class="card-block">
            <div class="row">
              <div class="col-xs-3">
                <span class="info-box-icon">
                   <i [ngClass]="'fa fa-'+item.icon"></i>
                </span>
              </div>
              <div class="col-xs-1"></div>
              <div class="col-xs-8">
                <h6 class="no-margin">{{item.name}}</h6>
                <h2>{{item.count}}</h2>
              </div>
            </div> 
          </div>
        </div>
      </div>
    </div>
  </div> 
  <div class="row">

    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 bottom-15">
      <div widget class="card">
        <div class="card-header">
          <span>Line Chart</span>
          <div style="text-align: center;margin-bottom: -7px;">
            <select class="form-control custDrop" [(ngModel)]="chartType" (change)="goBtn()">
              <option value=1>User</option>                            
              <option value=2>Posts</option>                            
            </select>
            <select class="form-control custDrop" [(ngModel)]="charDuration" (change)="goBtn()">
              <option value="today">Today</option>                            
              <option value="week">This Week</option>                            
              <option value="month">This Month</option>                            
              <option value="year">This Year</option> 
            </select>
          </div>
          <div class="widget-controls">
            <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
            <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
            <a data-widgster="close" href="#" class="transition"><i class="glyphicon glyphicon-remove"></i></a>
          </div>
        </div>
        <div class="card-block widget-body">
          <div>
            <div class="pull-left">
              <table class="table table-responsive table-condensed">
                <tr>
                  <th>Date</th>
                  <th *ngFor="let label of lineChartLabels">{{label}}</th>
                </tr>
                <tr *ngFor="let d of lineChartData">
                  <th>Count</th>
                  <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
                </tr>
              </table>
            </div> 
          </div>
          <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [legend]="lineChartLegend" [options]="lineChartOptions"
            [colors]="lineChartColors" [chartType]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
          </canvas>
        </div>
      </div>
    </div>
  </div>
</div>