
<div class="col-xs-12 bottom-15 pl-0 pr-0 each-page-content">
    <div widget class="card col-xs-12 zeroPadding float-left">
        <div class="card-header custom-style-header">
            <div class="row col-xs-12">
                <div class="col-xs-2 pr-0 zeroPadding">
                    <select id="rowpage" class="form-control input-sm" style="width: 40%;display: inline-block;" [(ngModel)]="rowsOnPage" (change)="ngOnInit();">
                    <option [ngValue]="10">10</option>
                    <option [ngValue]="20">20</option>
                    <option [ngValue]="40">40</option>
                    <option [ngValue]="100">100</option>
                </select>
                    <label class="label-control" style="margin: 7% 0 0 0%;">records per page</label>
                </div>
                <div class="col-md-9 " style="text-align: right">
                    <input class="customSearch" placeholder="Search.." type="text" style="margin: 0 0 0 61%;" [(ngModel)]="searchTerm" (keyup)="getPageOnSearch(myinput.value)"
                        #myinput>
                </div>
                <div class="col-md-1 zeroPadding">
                    <div class="col-xs-12 zeroPadding" style="float: right;text-align: right">
                        <button class="btn btn-primary rejectBtn" id="btnreactive" style="margin: 0% 0% 0% 0%;" (click)="gotoReactiveUser();">Re-activate</button>
                    </div>
                </div>

            </div>
        </div>
        <div class="table-block card-block widget-body">
            <div class="container-fluid pl-0 pr-0">
                <div class="col-xs-12 col-md-12 col-lg-12 pl-0 pr-0">

                    <div class="panel panel-default">
                        <table class="table table-hover" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                            <thead class="thead">
                                <tr>
                                    <th style="width: 6%;text-align: center">#</th>
                                    <th style="width:22%;text-align: center">Username
                                    </th>
                                    <th style=" width: 26%;text-align: center ">Email</th>
                                    <th style="width: 18%;text-align: center ">Phone No.</th>
                                    <th style="width: 19%;text-align: center ">Registered On
                                    </th>
                                    <th style="width: 10%;text-align: center ">Re-Activate</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngIf="this.msg">
                                    <td colspan="7" style="text-align: center">{{this.msg}}</td>
                                </tr>
                                <tr *ngFor="let user of rejectedUser | paginate: { itemsPerPage: rowsOnPage, currentPage: p, totalItems:count }; let i = index"
                                    [attr.data-index]="i" id={{user.oId}}>
                                    <th scope="row" style="text-align: center">{{i+1}}</th>
                                    <td>
                                        <a class="custom" (click)="gotoUserDatail(user.username)">{{user.username}}</a>
                                    </td>
                                    <td>{{user.email}}</td>
                                    <td>{{user.phoneNumber}}</td>
                                    <td>{{user.createdOn | date}}</td>
                                    <td>
                                        <input type="checkbox" [ngModel]="" (change)="gotocheck(user.username,$event)" />
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="100">
                                        <pagination-controls (pageChange)="getPage($event)" class="cursor-pointer float-right"></pagination-controls>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="userDetail" role="dialog" style="top: -140px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" style="padding: 20px 0px 20px 0px;">
                <div class="container-fluid">
                    <div class="item active col-xs-12">
                        <div class="col-sm-12 tableContent" *ngFor="let data of detailData">
                            <div class="col-xs-12 zeroPadding" style="margin: 0 0 2% 0%;text-align: center;" *ngIf="data.profilePicUrl == null">
                                <span><img class="img-circle" src="assets/img/users/default_user.jpg" style="width: 50%;height: 255px;border-radius: 50%;"></span>
                            </div>
                            <div class="col-xs-12 zeroPadding" style="margin: 0 0 2% 0%;text-align: center;" *ngIf="data.profilePicUrl != null">
                                <span><img class="img-circle" src={{data.profilePicUrl}} style="width: 50%;height: 255px;border-radius: 50%;" onError="this.src='assets/img/users/default_user.jpg';"></span>
                            </div>
                            <table class="custom-table table table-striped">
                                <tbody>
                                    <tr>
                                        <td class="pull-left">User Full Name</td>
                                        <td class="pull-right">{{data.fullName}}</td>
                                    </tr>

                                    <tr>
                                        <td class="pull-left">User Name</td>
                                        <td class="pull-right">{{data.username}}</td>
                                    </tr>
                                    <tr>
                                        <td class="pull-left">Email</td>
                                        <td class="pull-right">{{data.email}}</td>
                                    </tr>
                                    <tr *ngIf="data.gender == null">
                                        <td class="pull-left">Gender</td>
                                        <td class="pull-right">Not Specified</td>
                                    </tr>
                                    <tr *ngIf="data.gender != null">
                                        <td class="pull-left">Gender</td>
                                        <td class="pull-right">{{data.gender}}</td>
                                    </tr>
                                    <tr>
                                        <td class="pull-left">Phone</td>
                                        <td class="pull-right">{{data.phoneNumber}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>