

<div class="col-xs-12 bottom-15 pl-0 pr-0 each-page-content">
    <div widget class="card col-xs-12 zeroPadding float-left">
        <div class="card-header custom-style-header">
            <div class="row">
                <div class="pr-0" style="float: left;">
                    <select id="rowpage" class="form-control input-sm" style="margin: -1px 0px 0px 13px;width: 80%;padding: inherit;" [(ngModel)]="rowsOnPage"
                        (change)="ngOnInit();">
                        <option [ngValue]="10">10</option>
                        <option [ngValue]="20">20</option>
                        <option [ngValue]="40">40</option>
                        <option [ngValue]="100">100</option>
                </select>
                </div>
                <div class="pl-0" style="float: left;">
                    <label class="label-control" style="margin: 12px 0px 0px 6px;">records per page</label>
                </div>
                <button class="btn btn-primary buttonCus" data-toggle="modal" style="margin: 0 20px 0px 0px;" data-target="#addNews">Add</button>

               

            </div>
        </div>
        <div class="table-block card-block widget-body">
            <div class="container-fluid pl-0 pr-0">
                <div class="col-xs-12 col-md-12 col-lg-12 pl-0 pr-0">

                    <div class="panel panel-default">
                        <table class="table">
                            <thead class="thead">
                                <tr>
                                    <th style="width: 5%;text-align: center">#</th>
                                    <th style="width: 15%;text-align: center">
                                        Icon
                                    </th>
                                    <th style="width: 40%;text-align: center">
                                        News Details
                                    </th>
                                    <th style="width: 14%;text-align: center">
                                        News Provider
                                    </th>

                                    <th style="width: 18%;text-align: center">
                                        Date
                                    </th>
                                    <th style="width: 33%;text-align: center" class="thTitle">
                                        Link
                                    </th>
                                    <th style="width: 14%;text-align: center" class="thAction">Action</th>
                                </tr>
                                <tr>

                                </tr>
                            </thead>
                            <tbody>

                                <tr *ngFor="let news of newsData | paginate: { itemsPerPage: rowsOnPage, currentPage: p }; let i = index" [attr.data-index]="i">
                                    <td>{{i+1}}</td>
                                    <td *ngIf="news.logoUrl == null ">
                                        <img src="https://cdn2.iconfinder.com/data/icons/shopping-e-commerce-4/100/SC-14-512.png" alt="500*500" style="width: 65%;height: 75px;"
                                            class="img-responsive">

                                    </td>
                                    <td *ngIf="news.logoUrl != null">
                                        <img src={{news.logoUrl}} alt="500*500" style="width: 65%;height: 75px;" class="img-responsive">
                                    </td>

                                    <td>{{news.details}}</td>
                                    <td>{{news.provider}}</td>
                                    <td>{{news.newsDate | date}}</td>
                                    <td><a target="_blank" href={{news.newsLink}}>{{news.newsLink}}</a></td>
                                    <td>
                                        <div class="btn-hover" *ngIf="btnFlag">
                                            <button data-toggle="modal" class="btn btn-danger btn-xs" (click)="gotoDeleteNews(news._id)">
                                        <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                        </div>

                                        <div class="btn-hover" *ngIf="btnFlag">
                                            <button data-toggle="modal" data-target="#editNews" class="btn btn-primary btn-xs" (click)="editNews(news)">
                                          <span class="glyphicon glyphicon-pencil"></span>
                                        </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addNews" tabindex="-1" role="dialog" aria-labelledby="modal-label" style="display: none;padding-top: 0%;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                News
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="modal-label"></h4>
            </div>
            <form [formGroup]="newsForm" (ngSubmit)="submitForm(newsForm)">
                <fieldset>
                    <div class="modal-body">
                        <div *ngIf="msg" style="color: red">
                            Please select image
                        </div>
                        <div class="form-group col-xs-12 zeroPadding">
                            <div class="col-xs-4"></div>
                            <div class="col-xs-4" style="text-align: center;">
                                <label>Select Image</label>
                                <div class="image-wrapper">
                                    <input type="file" (change)="upload(input)" #input class="img-upload-btn" ng2FileSelect [uploader]="uploader" />
                                    <img src={{url}} *ngIf="url" width="100%" style="height: 168pxx;">
                                    <img src="assets/img/app/no-image.png" *ngIf="!url" width="100%" style="height: 168px;">
                                </div>
                            </div>
                            <div class="col-xs-4"></div>
                        </div>

                        <div class="form-group col-xs-12 zeroPadding">
                            <label for="input-8" class="col-xs-2 control-label">Detail</label>
                            <div class="col-xs-10">
                                <input type="text" class="form-control checking-field" id="input-8" name="newsDetails" [formControl]="newsForm.controls['newsDetails']"
                                    [ngModel]="newsForm.newsDetails">

                                <div *ngIf="newsForm.controls['newsDetails'].errors && (newsForm.controls['newsDetails'].dirty || newsForm.controls['newsDetails'].touched)"
                                    class="alert alert-danger">
                                    <div [hidden]="!newsForm.controls['newsDetails'].errors.required">
                                        News Detail Required
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-xs-12 zeroPadding">
                            <label for="input-3" class="col-xs-2 control-label">Provider</label>
                            <div class="col-xs-10">
                                <input type="text" class="form-control checking-field" id="input-3" name="provider" [formControl]="newsForm.controls['provider']"
                                    [ngModel]="newsForm.provider">

                                <div *ngIf="newsForm.controls['provider'].errors && (newsForm.controls['provider'].dirty || newsForm.controls['provider'].touched)"
                                    class="alert alert-danger">
                                    <div [hidden]="!newsForm.controls['provider'].errors.required">
                                        Provider is required
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="form-group col-xs-12 zeroPadding">
                            <label for="input-4" class="col-xs-2 control-label">Link</label>
                            <div class="col-xs-10">
                                <input type="text" class="form-control checking-field" id="input-4" name="newsLink" [formControl]="newsForm.controls['newsLink']"
                                    [ngModel]="newsForm.newsLink" pattern="https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|www\.[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9]\.[^\s]{2,}|www\.[a-zA-Z0-9]\.[^\s]{2,}">
                                <div *ngIf="newsForm.controls['newsLink'].errors && (newsForm.controls['newsLink'].dirty || newsForm.controls['newsLink'].touched)"
                                    class="alert alert-danger">

                                    <div [hidden]="!newsForm.controls['newsLink'].errors.required">
                                        Link is required
                                    </div>
                                    <div [hidden]="!newsForm.controls['newsLink'].errors.pattern">
                                        Enter Valid Link
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-xs-12 zeroPadding" style="text-align: center;">
                            <div class="col-xs-10 col-xs-offset-2" style="margin: 13px 0 0 73px;">
                                <button type="submit" class="btn btn-primary" [disabled]="!newsForm.valid">Submit</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>



<div class="modal fade" id="editNews" tabindex="-1" role="dialog" aria-labelledby="modal-label" style="display: none;padding-top: 0%;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Edit News
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="modal-label"></h4>
            </div>
            <form [formGroup]="editNewsForm" (ngSubmit)="editData(editNewsForm)">
                <fieldset>
                    <div class="modal-body">

                        <div *ngIf="msg" style="color: red">
                            Please select image
                        </div>
                        <div class="form-group col-xs-12 zeroPadding">
                            <div class="col-xs-4"></div>
                            <div class="col-xs-4" style="text-align: center;">
                                <label>Select Image</label>
                                <div class="image-wrapper">
                                    <input type="file" (change)="upload(input1)" #input1 class="img-upload-btn" ng2FileSelect [uploader]="uploader" />
                                    <img src={{url}} *ngIf="url" width="100%" style="height: 168pxx;">
                                    <img src="assets/img/app/no-image.png" *ngIf="!url" width="100%" style="height: 168px;">
                                </div>
                            </div>
                            <div class="col-xs-4"></div>
                        </div>
                        <div class="form-group col-xs-12 zeroPadding">
                            <label for="input-5" class="col-xs-2 control-label">Detail</label>
                            <div class="col-xs-10">
                                <input type="text" class="form-control checking-field" id="input-5" name="newsDetails" [formControl]="editNewsForm.controls['newsDetails']"
                                    [(ngModel)]="obj.details">

                                <div *ngIf="editNewsForm.controls['newsDetails'].errors && (editNewsForm.controls['newsDetails'].dirty || editNewsForm.controls['newsDetails'].touched)"
                                    class="alert alert-danger">
                                    <div [hidden]="!editNewsForm.controls['newsDetails'].errors.required">
                                        News Detail Required
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-xs-12 zeroPadding">
                            <label for="input-6" class="col-xs-2 control-label">Provider</label>
                            <div class="col-xs-10">
                                <input type="text" class="form-control" id="input-6" name="provider" [formControl]="editNewsForm.controls['provider']" [(ngModel)]="obj.provider">

                                <div *ngIf="editNewsForm.controls['provider'].errors && (editNewsForm.controls['provider'].dirty || editNewsForm.controls['provider'].touched)"
                                    class="alert alert-danger">
                                    <div [hidden]="!editNewsForm.controls['provider'].errors.required">
                                        Provider is required
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="form-group col-xs-12 zeroPadding">
                            <label for="input-7" class="col-xs-2 control-label">Link</label>
                            <div class="col-xs-10">
                                <input type="text" class="form-control" id="input-7" name="newsLink" [formControl]="editNewsForm.controls['newsLink']" [(ngModel)]="obj.newsLink"
                                    pattern="https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|www\.[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]\.[^\s]{2,}|https?:\/\/(?:www\.|(?!www))[a-zA-Z0-9]\.[^\s]{2,}|www\.[a-zA-Z0-9]\.[^\s]{2,}">
                                <div *ngIf="editNewsForm.controls['newsLink'].errors && (editNewsForm.controls['newsLink'].dirty || editNewsForm.controls['newsLink'].touched)"
                                    class="alert alert-danger">

                                    <div [hidden]="!editNewsForm.controls['newsLink'].errors.required">
                                        Link is required
                                    </div>
                                    <div [hidden]="!editNewsForm.controls['newsLink'].errors.pattern">
                                        Enter Valid Link
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-xs-12 zeroPadding">
                            <div class="col-xs-10 col-xs-offset-2" style="margin: 13px 0 0 73px;">
                                <button type="submit" class="btn btn-primary" [disabled]="!editNewsForm.valid">Submit</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>