

<div class="col-xs-12 bottom-15 pl-0 pr-0 each-page-content">
    <div widget class="card col-xs-12 zeroPadding float-left">
        <div class="card-header custom-style-header">
            <div class="row">
                <div class="pr-0" style="float: left;">
                    <select id="rowpage" class="form-control input-sm" style="margin: -1px 0px 0px 13px;width: 80%;padding: inherit;" [(ngModel)]="rowsOnPage"
                        (change)="ngOnInit();">
                        <option [ngValue]="10">10</option>
                        <option [ngValue]="20">20</option>
                        <option [ngValue]="40">40</option>
                        <option [ngValue]="100">100</option>
                </select>
                </div>
                <div class="pl-0" style="float: left;">
                    <label class="label-control" style="margin: 10px 0px 0px 6px;">records per page</label>
                </div>
                <button class="btn btn-primary buttonCus" data-toggle="modal" style="margin: 0 20px 0px 0px;" data-target="#addProblem">Add</button>
            </div>
        </div>
        <div class="table-block card-block widget-body">
            <div class="container-fluid pl-0 pr-0">
                <div class="col-xs-12 col-md-12 col-lg-12 pl-0 pr-0">
                    <div class="panel panel-default">
                        <table class="table" [mfData]="data" #mf="mfDataTable" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                            <thead class="thead">
                                <tr>
                                    <th style="width: 5%;text-align: center">#</th>
                                    <th style="width: 81%;text-align: center" class="thTitle">Reason</th>
                                    <th style="width: 14%;text-align: center" class="thAction">Action</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngIf="this.errMsg">
                                    <td colspan="3">{{this.errMsg}}</td>
                                </tr>
                                <tr *ngFor="let data of reasonData | paginate: { itemsPerPage: rowsOnPage, currentPage: p}; let i = index" [attr.data-index]="i">
                                    <td scope="row">{{i+1}}</td>
                                    <td>{{data.reportReason}}</td>
                                    <td>
                                        <div class="btn-hover" *ngIf="btnFlag">
                                            <button data-toggle="modal" class="btn btn-danger btn-xs" (click)="gotoDeleteData(data._id)">
                                        <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                        </div>

                                        <div class="btn-hover" *ngIf="btnFlag">
                                            <button data-toggle="modal" data-target="#editProblem" class="btn btn-primary btn-xs" (click)="gotoEditData(data)">
                                          <span class="glyphicon glyphicon-pencil"></span>
                                        </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="100">
                                        <pagination-controls (pageChange)="p = $event" class="cursor-pointer float-right"></pagination-controls>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addProblem" tabindex="-1" role="dialog" aria-labelledby="modal-label" style="display: none;padding-top: 0%;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Report Reason
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="modal-label"></h4>
            </div>
            <form [formGroup]="postProForm" (ngSubmit)="submitForm(postProForm)">
                <fieldset>
                    <div class="modal-body">

                        <div class="form-group col-xs-12 zeroPadding">
                            <label for="input-2" class="col-xs-2 control-label">Reason</label>
                            <div class="col-xs-10">
                                <input type="text" class="form-control checking-field" id="input-2" name="reason" [formControl]="postProForm.controls['reason']"
                                    [ngModel]="postProForm.reason">

                                <div *ngIf="postProForm.controls['reason'].errors && (postProForm.controls['reason'].dirty || postProForm.controls['reason'].touched)"
                                    class="alert alert-danger">
                                    <div [hidden]="!postProForm.controls['reason'].errors.required">
                                        Reason is Required
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-xs-12 zeroPadding">
                            <div class="col-xs-10 col-xs-offset-2" style="margin: 13px 0 0 73px;">
                                <button type="submit" class="btn btn-primary" [disabled]="!postProForm.valid">Submit</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="editProblem" tabindex="-1" role="dialog" aria-labelledby="modal-label" style="display: none;padding-top: 0%;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Report Reason
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="modal-label"></h4>
            </div>
            <form [formGroup]="editPostProForm" (ngSubmit)="editForm(editPostProForm)">
                <fieldset>
                    <div class="modal-body">

                        <div class="form-group col-xs-12 zeroPadding">
                            <label for="input-2" class="col-xs-2 control-label">Reason</label>
                            <div class="col-xs-10">
                                <input type="text" class="form-control checking-field" id="input-2" name="reason" [formControl]="editPostProForm.controls['reason']"
                                    [(ngModel)]="obj.reportReason">

                                <div *ngIf="editPostProForm.controls['reason'].errors && (editPostProForm.controls['reason'].dirty || editPostProForm.controls['reason'].touched)"
                                    class="alert alert-danger">
                                    <div [hidden]="!editPostProForm.controls['reason'].errors.required">
                                        Reason is Required
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-xs-12 zeroPadding">
                            <div class="col-xs-10 col-xs-offset-2" style="margin: 13px 0 0 73px;">
                                <button type="submit" class="btn btn-primary" [disabled]="!editPostProForm.valid">Submit</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>