
<div class="col-xs-12 bottom-15 pl-0 pr-0 each-page-content">
    <div widget class="card col-xs-12 zeroPadding float-left">
        <div class="card-header custom-style-header">
            <div class="row">
                <div class="pr-0" style="float: left;">
                    <select id="rowpage" class="form-control input-sm" style="margin: -1px 0px 0px 13px;width: 80%;padding: inherit;" [(ngModel)]="rowsOnPage"
                        (change)="ngOnInit();">
                        <option [ngValue]="10">10</option>
                        <option [ngValue]="20">20</option>
                        <option [ngValue]="40">40</option>
                        <option [ngValue]="100">100</option>
                </select>
                </div>
                <div class="pl-0" style="float: left;">
                    <label class="label-control" style="margin: 12px 0px 0px 6px;">records per page</label>
                </div>
                <button class="btn btn-primary buttonCus" data-toggle="modal" style="margin: 0 20px 0px 0px;" data-target="#addCategory"
                    (click)="clearModal();">Add</button>
            </div>
        </div>
        <div class="table-block card-block widget-body">
            <div class="container-fluid pl-0 pr-0">
                <div class="col-xs-12 col-md-12 col-lg-12 pl-0 pr-0">

                    <div class="panel panel-default">
                        <table class="table">
                            <thead class="thead">
                                <tr>
                                    <th style="width: 6%;text-align: center">#</th>
                                    <th style="width: 17%;text-align: center">
                                        Active Image
                                    </th>
                                    <th style="width: 17%;text-align: center">
                                        De-Active Image
                                    </th>
                                    <th style="width: 44%;text-align: center" class="thTitle">
                                        Title
                                    </th>
                                    <th style="width: 17%;text-align: center" class="thAction">
                                        Action
                                    </th>
                                </tr>
                                <tr>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngIf="this.msg">
                                    <td colspan="5" style="text-align: center">{{this.msg}}</td>
                                </tr>
                                <tr *ngFor="let cat of category | paginate: { itemsPerPage: rowsOnPage, currentPage: p }; let i = index" [attr.data-index]="i">
                                    <td>{{i+1}}</td>
                                    <td>
                                        <img src={{cat.activeimage}} alt="500*500" style="width: 50%;" class="img-responsive">
                                    </td>
                                    <td>
                                        <img src={{cat.deactiveimage}} alt="500*500" style="width: 50%;" class="img-responsive">
                                    </td>
                                    <td style="text-transform: capitalize;">
                                        {{cat.name}}
                                    </td>
                                    <td id="test">
                                        <div class="btn-hover" *ngIf="btnFlag">
                                            <button data-toggle="modal" class="btn btn-danger btn-xs" id="dltBTN" (click)="gotoDeleteCategory(cat)">
                                        <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                        </div>

                                        <div class="btn-hover" *ngIf="btnFlag">
                                            <button data-toggle="modal" data-target="#editCategory" class="btn btn-primary btn-xs" (click)="editCategoryData(cat)">
                                          <span class="glyphicon glyphicon-pencil"></span>
                                        </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="100">
                                        <pagination-controls (pageChange)="p = $event" class="cursor-pointer float-right"></pagination-controls>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="addCategory" role="dialog" aria-labelledby="modal-label" style="display: none;padding-top: 2%;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-transform">
                Add category
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="modal-label"></h4>
            </div>
            <form [formGroup]="addCategory" (ngSubmit)="submitForm(addCategory)">
                <div class="modal-body">

                    <div class="form-group required col-xs-12">
                        <label for="input-2" class="col-xs-3">Category Name</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control checking-field" placeholder="Enter Category" [formControl]="addCategory.controls['categoryName']"
                                [ngModel]="addCategory.categoryName">
                            <div *ngIf="addCategory.controls['categoryName'].errors && (addCategory.controls['categoryName'].dirty || addCategory.controls['categoryName'].touched)"
                                class="alert alert-danger">
                                <div [hidden]="!addCategory.controls['categoryName'].errors.required">
                                    Category Name is required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-8 offset-2">
                        <div id="upImg" style="color: red;text-align: center;">Please Select Small Size Image</div>
                        <div class="form-group col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div>
                                <div *ngIf="Dmsg" class="alert alert-danger">
                                    Please Select De-Active Image
                                </div>


                                <div class="image-wrapper" style="text-align: center;">
                                    <i *ngIf="Dimage" class="fa fa-times delete-img" (click)="DremoveImage()"></i>
                                    <img [attr.src]="Dimage" *ngIf="Dimage" width="100%" style="height: 65px;width: 29%;">
                                    <img src="assets/img/app/no-image.png" *ngIf="!Dimage" width="100%" style="height: 65px;width: 29%;">
                                </div>
                                <input type="file" (change)="DfileChange(input1)" #input1 class="img-upload-btn" />

                                <button class="btn btn-main btn-block" type="button">
                                    <span *ngIf="!Dimage"><i class="fa fa-upload"></i> Select De-Active Image... </span>
                                    <span *ngIf="Dimage"><i class="fa fa-refresh"></i> Change De-Active Image... </span>
                                </button>
                            </div>
                        </div>
                        <div class="form-group col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div>
                                <div *ngIf="Amsg" class="alert alert-danger">
                                    Please Select Active Image
                                </div>


                                <div class="image-wrapper" style="text-align: center;">
                                    <i *ngIf="Aimage" class="fa fa-times delete-img" (click)="AremoveImage()"></i>
                                    <img [attr.src]="Aimage" *ngIf="Aimage" width="100%" style="height: 65px;width: 29%;">
                                    <img src="assets/img/app/no-image.png" *ngIf="!Aimage" width="100%" style="height: 65px;width: 29%;">
                                </div>
                                <input type="file" (change)="AfileChange(input)" #input class="img-upload-btn" />

                                <button class="btn btn-main btn-block" type="button">
                                    <span *ngIf="!Aimage"><i class="fa fa-upload"></i> Select Active Image... </span>
                                    <span *ngIf="Aimage"><i class="fa fa-refresh"></i> Change Active Image... </span>
                                </button>
                            </div>
                        </div>
                        <div style="text-align: center;">
                            <mark style="background-color: yellow;">Please select small size image and Dimension is maximum 600*600</mark>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div style="text-align: center;">
                        <button type="submit" class="btn btn-primary" [disabled]="!addCategory.valid">Add</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="editCategory" role="dialog" aria-labelledby="modal-label" style="display: none;padding-top: 2%;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-transform">
                Edit category
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="modal-label"></h4>
            </div>
            <form [formGroup]="editCategory" (ngSubmit)="updatecategory(editCategory)">
                <div class="modal-body">
                    <div class="form-group required col-xs-12">
                        <label for="input-2" class="col-lg-3" style="padding: 4px 0px 0px 45px;">Category Name</label>
                        <div class="col-lg-6">
                            <input type="text" id="newName" class="form-control checking-field" placeholder="Enter Category" [formControl]="editCategory.controls['categoryName']"
                                [ngModel]="o">
                            <div *ngIf="editCategory.controls['categoryName'].errors && (editCategory.controls['categoryName'].dirty || editCategory.controls['categoryName'].touched)"
                                class="alert alert-danger">
                                <div [hidden]="!editCategory.controls['categoryName'].errors.required">
                                    Category Name is required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-8 offset-2">
                        <div id="eupImg" style="color: red;text-align: center;">Please Select Small Size Image</div>
                        <div class="form-group col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div>
                                <div *ngIf="Dmsg" class="alert alert-danger">
                                    Please Select De-Active Image
                                </div>


                                <div class="image-wrapper" style="text-align: center;">
                                    <i *ngIf="Dimage" class="fa fa-times delete-img" (click)="DremoveImage()"></i>
                                    <img [attr.src]="Dimage" *ngIf="Dimage" width="100%" style="height: 65px;width: 29%;">
                                    <img src="assets/img/app/no-image.png" *ngIf="!Dimage" width="100%" style="height: 65px;width: 29%;">
                                </div>
                                <input type="file" (change)="DfileChange(Dinput)" #Dinput class="img-upload-btn" />

                                <button class="btn btn-main btn-block" type="button">
                                    <span *ngIf="!Dimage"><i class="fa fa-upload"></i> Select De-Active Image... </span>
                                    <span *ngIf="Dimage"><i class="fa fa-refresh"></i> Change De-Active Image... </span>
                                </button>
                            </div>
                        </div>
                        <div class="form-group col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div>
                                <div *ngIf="Amsg" class="alert alert-danger">
                                    Please Select Active Image
                                </div>


                                <div class="image-wrapper" style="text-align: center;">
                                    <i *ngIf="Aimage" class="fa fa-times delete-img" (click)="AremoveImage()"></i>
                                    <img [attr.src]="Aimage" *ngIf="Aimage" width="100%" style="height: 65px;width: 29%;">
                                    <img src="assets/img/app/no-image.png" *ngIf="!Aimage" width="100%" style="height: 65px;width: 29%;">
                                </div>
                                <input type="file" (change)="AfileChange(Ainput)" #Ainput class="img-upload-btn" />

                                <button class="btn btn-main btn-block" type="button">
                                    <span *ngIf="!Aimage"><i class="fa fa-upload"></i> Select Active Image... </span>
                                    <span *ngIf="Aimage"><i class="fa fa-refresh"></i> Change Active Image... </span>
                                </button>
                            </div>
                        </div>
                        <div style="text-align: center;">
                            <mark style="background-color: yellow;">Please select small size image and Dimension is maximum 600*600</mark>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="float-right">
                        <button type="submit" class="btn btn-primary" [disabled]="!editCategory.valid">Update</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>