<div class="col-xs-12 bottom-15 pl-0 pr-0 each-page-content">
    <div widget class="card col-xs-12 zeroPadding float-left">
        <div class="card-header custom-style-header">
            <div class="row">
                <div class="pr-0" style="float: left;">
                    <select id="rowpage" class="form-control input-sm" style="margin: -1px 0px 0px 13px;width: 80%;padding: inherit;" [(ngModel)]="rowsOnPage"
                        (change)="ngOnInit();">
                        <option [ngValue]="10">10</option>
                        <option [ngValue]="20">20</option>
                        <option [ngValue]="40">40</option>
                        <option [ngValue]="100">100</option>
                    </select>
                </div>
                <div class="pl-0" style="float: left;">
                    <label class="label-control" style="margin: 10px 0px 0px 6px;">records per page</label>
                </div>
                <button class="btn btn-primary buttonCus" style="margin: 0 20px 0px 0px;" data-toggle="modal" data-target="#addRoles">Add</button>
            </div>
        </div>
        <div class="table-block card-block widget-body">
            <div class="container-fluid pl-0 pr-0">
                <div class="col-xs-12 col-md-12 col-lg-12 pl-0 pr-0">
                    <div class="panel panel-default">
                        <table class="table table-hover">
                            <thead class="thead">
                                <tr>
                                    <th style="width: 7%;text-align: center">#</th>
                                    <th style="width: 69%;text-align: center">Role Name</th>
                                    <th style="width: 24%;text-align: center">No. Of Users</th>
                                    <th style="width: 24%;text-align: center">Action</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngIf="msg">
                                    <td colspan="7">No data found</td>
                                </tr>
                                <tr *ngFor="let dt of data | paginate: { itemsPerPage: rowsOnPage, currentPage: p}; let i = index" [attr.data-index]="i">
                                    <td scope="row">{{i+1}}</td>
                                    <td>{{dt.roleName}}</td>
                                    <td *ngIf="dt.userCount == 0">{{dt.userCount}}</td>
                                    <td *ngIf="dt.userCount != 0">
                                        <button class="button-cust" style="cursor: pointer;" (click)="getNoOfUser(dt._id)">{{dt.userCount}}</button>
                                    </td>
                                    <td>
                                        <div class="btn-hover">
                                            <button data-toggle="modal" class="btn btn-danger btn-xs" (click)="gotoDeleteRoles(dt._id)">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        </div>

                                        <div class="btn-hover">
                                            <button data-toggle="modal" data-target="#editRoles" class="btn btn-primary btn-xs" (click)="gotoEditData(dt)">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="100">
                                        <pagination-controls (pageChange)="p = $event" class="cursor-pointer float-right"></pagination-controls>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addRoles" tabindex="-1" role="dialog" aria-labelledby="modal-label" style="display: none;padding-top: 0%; top: -4%;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Add Roles
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="modal-label"></h4>
            </div>
            <form [formGroup]="addRoles" (ngSubmit)="addRolesForm(addRoles)">
                <fieldset>
                    <div class="modal-body">

                        <div class="form-group col-xs-12 zeroPadding">
                            <label for="input-2" class="col-xs-3 control-label">Role Name</label>
                            <div class="col-xs-9">
                                <input type="text" class="form-control checking-field" id="input-2" name="role" [formControl]="addRoles.controls['roleName']"
                                    [(ngModel)]="obj.roleName">

                                <div *ngIf="addRoles.controls['roleName'].errors && (addRoles.controls['roleName'].dirty || addRoles.controls['roleName'].touched)"
                                    class="alert alert-danger">
                                    <div [hidden]="!addRoles.controls['roleName'].errors.required">
                                        Role Name is Required
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-xs-12 zeroPadding" style="max-height: 332px;overflow: auto;">
                            <table class="table table-hover">
                                <thead class="thead-inverse">
                                    <tr>
                                        <th style="width: 56%;text-align: center">Page</th>
                                        <th style="width: 10%;text-align: center">View</th>
                                        <th style="width: 10%;text-align: center">Add</th>
                                        <th style="width: 10%;text-align: center">Edit</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let d of access">
                                    <tr>
                                        <td>{{d[0]}}</td>
                                        <td>
                                            <label>
                                                <input type="checkbox" value="100" [ngClass]="'check1'+d[1]" (change)="addRoleEvent($event,d[1],'view')">
                                            </label>
                                        </td>
                                        <td>
                                            <label>
                                                <input type="checkbox" value="110" [ngClass]="'check2'+d[1]" (change)="addRoleEvent($event,d[1],'add')">
                                            </label>
                                        </td>
                                        <td>
                                            <label>
                                                <input type="checkbox" value="111" [ngClass]="'check3'+d[1]" (change)="addRoleEvent($event,d[1],'edit')">
                                            </label>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="form-group col-xs-12 zeroPadding" style="text-align: center">
                            <div class="col-xs-10 col-xs-offset-2" style="margin: 13px 0 0 73px;">
                                <button type="submit" class="btn btn-primary" [disabled]="!addRoles.valid">Submit</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="editRoles" tabindex="-1" role="dialog" aria-labelledby="modal-label" style="display: none;padding-top: 0%; top: -4%;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Edit Roles
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="modal-label"></h4>
            </div>
            <form [formGroup]="roles" (ngSubmit)="submitForm(roles)">
                <fieldset>
                    <div class="modal-body">

                        <div class="form-group col-xs-12 zeroPadding">
                            <label for="input-2" class="col-xs-3 control-label">Role Name</label>
                            <div class="col-xs-9">
                                <input type="text" class="form-control checking-field" id="input-2" name="role" [formControl]="roles.controls['roleName']"
                                    [(ngModel)]="obj.roleName" readonly>

                                <div *ngIf="roles.controls['roleName'].errors && (roles.controls['roleName'].dirty || roles.controls['roleName'].touched)"
                                    class="alert alert-danger">
                                    <div [hidden]="!roles.controls['roleName'].errors.required">
                                        Role Name is Required
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-xs-12 zeroPadding" style="max-height: 332px;overflow: auto;">
                            <table class="table table-hover">
                                <thead class="thead-inverse">
                                    <tr>
                                        <th style="width: 56%;text-align: center">Page</th>
                                        <th style="width: 10%;text-align: center">View</th>
                                        <th style="width: 10%;text-align: center">Add</th>
                                        <th style="width: 10%;text-align: center">Edit</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let d of access">
                                    <tr>
                                        <td>{{d[0]}}</td>
                                        <td>
                                            <label>
                                                <input type="checkbox" value="100" [ngClass]="'editCheck1'+d[1]" (change)="editRoleEvent($event,d[1],'view')">
                                            </label>
                                        </td>
                                        <td>
                                            <label>
                                                <input type="checkbox" value="110" [ngClass]="'editCheck2'+d[1]" (change)="editRoleEvent($event,d[1],'add')">
                                            </label>
                                        </td>
                                        <td>
                                            <label>
                                                <input type="checkbox" value="111" [ngClass]="'editCheck3'+d[1]" (change)="editRoleEvent($event,d[1],'edit')">
                                            </label>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="form-group col-xs-12 zeroPadding" style="text-align: center">
                            <div class="col-xs-10 col-xs-offset-2" style="margin: 13px 0 0 73px;">
                                <button type="submit" class="btn btn-primary" [disabled]="!roles.valid">Submit</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="noOfUser" tabindex="-1" role="dialog" aria-labelledby="modal-label" style="display: none;padding-top: 0%; top: -4%;">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="max-height: 577px;overflow: auto;">
            <div class="modal-header">
                Associated Users
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="modal-label"></h4>
            </div>
            <table class="table table-hover">
                <thead class="thead">
                    <tr>
                        <th style="width: 10%;text-align: center">#</th>
                        <th style="width: 67%;text-align: center">User Name</th>
                        <th style="width: 24%;text-align: center">Action</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let dt of userDt; let i = index" [attr.data-index]="i">
                        <td>{{i+1}}</td>
                        <td>{{dt.managerName}}</td>
                        <td>
                            <label><input type="checkbox" (change)="userCheckEvent($event,dt._id)"></label>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="100">
                            <button type="submit" class="btn btn-primary" (click)="saveLinkedUser()">Unlink</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>