<div class="col" style="width: 65%;margin: 0 0 0 6%;">
    <div widget class="card">
        <div class="card-header">
            <span>SEO Setting</span>
        </div>
        <div class="card-block widget-body">
            <form [formGroup]="seoSetting" (ngSubmit)="submitForm(seoSetting)">
                <fieldset>
                    <div class="form-group col-xs-12 zeroPadding">
                        <label for="input-2" class="col-xs-2 control-label">Title</label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control checking-field" id="input-2" name="title" [formControl]="seoSetting.controls['title']"
                                [ngModel]="title">

                            <div *ngIf="seoSetting.controls['title'].errors && (seoSetting.controls['title'].dirty || seoSetting.controls['title'].touched)"
                                class="alert alert-danger">
                                <div [hidden]="!seoSetting.controls['title'].errors.required">
                                    Title is required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-xs-12 zeroPadding">
                        <label for="input-2" class="col-xs-2 control-label">Description</label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control checking-field" id="input-2" name="description" [formControl]="seoSetting.controls['description']"
                                [ngModel]="description">

                            <div *ngIf="seoSetting.controls['description'].errors && (seoSetting.controls['description'].dirty || seoSetting.controls['description'].touched)"
                                class="alert alert-danger">
                                <div [hidden]="!seoSetting.controls['description'].errors.required">
                                    Description is required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-xs-12 zeroPadding">
                        <label for="input-2" class="col-xs-2 control-label">Keyword</label>
                        <div class="col-xs-10">
                            <!-- <input type="text" class="form-control checking-field" id="input-2" name="keyword" [formControl]="seoSetting.controls['keyword']"
                                [ngModel]="seoSetting.keyword">

                            <div *ngIf="seoSetting.controls['keyword'].errors && (seoSetting.controls['keyword'].dirty || seoSetting.controls['keyword'].touched)"
                                class="alert alert-danger">
                                <div [hidden]="!seoSetting.controls['keyword'].errors.required">
                                    Keyword is required
                                </div>
                            </div> -->
                            <div id="tags">
                                <input type="text" value="" placeholder="Add a keyword" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-xs-12 zeroPadding" style="text-align: center;">
                        <div class="col-xs-10 col-xs-offset-2" style="margin: 13px 0 0 73px;">
                            <input type="hidden" class="abc" value="">
                            <button type="submit" class="btn btn-primary" [disabled]="!seoSetting.valid">Save</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="seoSettingDelete()">Delete</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>


<!-- <div class="col" style="width: 65%;margin: 0 0 0 6%;">
    <div widget class="card">
        <div class="card-header">
            <span>Social Media Settings</span>
        </div>
        <div class="card-block widget-body">
            <div class="clearfix" style="float: right">
                <ul class="nav nav-tabs top pull-xs-left">
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#post">Facebook</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#seo">Twitter</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content" style="border: white;">
                <div class="tab-pane fade in active col-sm-12 tableCnt" id="post">
                    <form [formGroup]="seoSetting" (ngSubmit)="submitForm(seoSetting)">
                    <fieldset>
                        <div class="form-group col-xs-12 zeroPadding">
                            <label for="input-2" class="col-xs-2 control-label">Title</label>
                            <div class="col-xs-10">
                                <input type="text" class="form-control checking-field" id="input-2" name="title" [formControl]="seoSetting.controls['title']"
                                    [ngModel]="title">
    
                                <div *ngIf="seoSetting.controls['title'].errors && (seoSetting.controls['title'].dirty || seoSetting.controls['title'].touched)"
                                    class="alert alert-danger">
                                    <div [hidden]="!seoSetting.controls['title'].errors.required">
                                        Title is required
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-xs-12 zeroPadding">
                            <label for="input-2" class="col-xs-2 control-label">Description</label>
                            <div class="col-xs-10">
                                <input type="text" class="form-control checking-field" id="input-2" name="description" [formControl]="seoSetting.controls['description']"
                                    [ngModel]="description">
    
                                <div *ngIf="seoSetting.controls['description'].errors && (seoSetting.controls['description'].dirty || seoSetting.controls['description'].touched)"
                                    class="alert alert-danger">
                                    <div [hidden]="!seoSetting.controls['description'].errors.required">
                                        Description is required
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-xs-12 zeroPadding">
                            <label for="input-2" class="col-xs-2 control-label">Keyword</label>
                            <div class="col-xs-10">
                                <input type="text" class="form-control checking-field" id="input-2" name="keyword" [formControl]="seoSetting.controls['keyword']"
                                    [ngModel]="seoSetting.keyword">
    
                                <div *ngIf="seoSetting.controls['keyword'].errors && (seoSetting.controls['keyword'].dirty || seoSetting.controls['keyword'].touched)"
                                    class="alert alert-danger">
                                    <div [hidden]="!seoSetting.controls['keyword'].errors.required">
                                        Keyword is required
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="form-group col-xs-12 zeroPadding" style="text-align: center;">
                            <div class="col-xs-10 col-xs-offset-2" style="margin: 13px 0 0 73px;">
                                <input type="hidden" class="abc" value=""> 
                                <button type="submit" class="btn btn-primary" [disabled]="!seoSetting.valid">Save</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="seoSettingDelete()">Delete</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
                </div>
                <div class="tab-pane fade col-sm-12 tableCnt" id="seo">
                    dcds
                </div>
                
            </div>
        </div>
    </div> -->