.zeroPadding{
    padding: 0px !important;
}

#tags{
    float:left;
    border:1px solid #ccc;
    padding:5px;
    font-family:Arial;
  }
  #tags > span{
    cursor:pointer;
    display:block;
    float:left;
    color:#fff;
    background:#789;
    padding:5px;
    padding-right:25px;
    margin:4px;
  }
  #tags > span:hover{
    opacity:0.7;
  }
  #tags > span:after{
   position:absolute;
   content:"×";
   border:1px solid;
   padding:2px 5px;
   margin-left:3px;
   font-size:11px;
  }
  #tags > input{
    background:#eee;
    border:0;
    margin:4px;
    padding:7px;
    width:auto;
  }