
<div class="col-xs-12 bottom-15 pl-0 pr-0 each-page-content">
    <div widget class="card col-xs-12 zeroPadding float-left">
        <div class="card-header custom-style-header">
            <div class="row col-xs-12">
                <div class="col-xs-2 pr-0 zeroPadding">
                    <select id="rowpage" class="form-control input-sm" style="width: 40%;display: inline-block;" [(ngModel)]="rowsOnPage" (change)="ngOnInit();">
                    <option [ngValue]="10">10</option>
                    <option [ngValue]="20">20</option>
                    <option [ngValue]="40">40</option>
                    <option [ngValue]="100">100</option>
                </select>
                    <label class="label-control" style="margin: 11px 0 0 6px;">records per page</label>
                </div>
                <div class="col-md-9 zeroPadding" style="text-align: right">
                    <input class="cSearch" placeholder="Search.." type="text" [(ngModel)]="searchTerm" style="margin: 0 0 0 61%;" (keyup)="getPageOnSearch(myinput.value)"
                        #myinput>
                </div>
                <div class="col-md-1 zeroPadding">
                    <div class="col-xs-12 zeroPadding" style="float: right;text-align: right">
                        <button class="btn btn-primary buttonCus" id="btnreject" style="margin: 0% 0% 0% 0%;" (click)="gotoRejectUser();">Reject</button>
                    </div>
                </div>

            </div>
        </div>
        <div class="table-block card-block widget-body">
            <div class="container-fluid pl-0 pr-0">
                <div class="col-xs-12 col-md-12 col-lg-12 pl-0 pr-0">

                    <div class="panel panel-default">
                        <table class="table table-hover" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                            <thead class="thead">
                                <tr>
                                    <th style="width: 6%;text-align: center;">Select</th>
                                    <th style="width: 7%;text-align: center;">#</th>
                                    <th style="width: 26%;text-align: center;">Reported User</th>
                                    <th style="width: 23%;text-align: center;">Report Count</th>
                                    <th style="width: 39%;text-align: center;">Last Reported Date</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngIf="msg">
                                    <td colspan="9">No Data Found</td>
                                </tr>
                                <tr *ngFor="let user of reportedUser;let i = index" [attr.data-index]="i">
                                    <td>
                                        <input type="checkbox" [ngModel]="" (change)="gotocheck(user.username,$event)" />
                                    </td>
                                    <th scope="row" style="text-align: center;">{{i+1}}</th>
                                    <td>
                                        <a class="custom" (click)="gotoUserDatail(user.username)">{{user.username}}</a>
                                    </td>
                                    <td style="text-align: center;" *ngIf="user.reportcount == 0">{{user.reportcount}}</td>
                                    <td style="text-align: center;" *ngIf="user.reportcount > 0">
                                        <button class="button-cust" style="cursor: pointer;" type="button" (click)="gotoReported(user.username)">{{user.reportcount}}</button>
                                    </td>
                                    <td>{{user.reportedOn[0].reportedOn | date}}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="100">
                                        <button type="button" id="loadButton" class="lBtn" (click)="getPage()">
                                            <i class="fa fa-chevron-circle-down fa-2x" style="cursor: pointer;"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="userDetail" role="dialog" style="top: -140px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" style="padding: 20px 0px 20px 0px;">
                <div class="container-fluid">
                    <div class="item active col-xs-12">
                        <div class="col-sm-12 tableContent" *ngFor="let data of detailData">
                            <div class="col-xs-12 zeroPadding" style="margin: 0 0 2% 0%;text-align: center;" *ngIf="data.profilePicUrl == null">
                                <span><img class="img-circle" src="assets/img/users/default_user.jpg" style="width: 50%;height: 255px;border-radius: 50%;"></span>
                            </div>
                            <div class="col-xs-12 zeroPadding" style="margin: 0 0 2% 0%;text-align: center;" *ngIf="data.profilePicUrl != null">
                                <span><img class="img-circle" src={{data.profilePicUrl}} style="width: 50%;height: 255px;border-radius: 50%;" onError="this.src='assets/img/users/default_user.jpg';"></span>
                            </div>
                            <table class="custom-table table table-striped">
                                <tbody>
                                    <tr>
                                        <td class="pull-left">User Full Name</td>
                                        <td class="pull-right">{{data.fullName}}</td>
                                    </tr>

                                    <tr>
                                        <td class="pull-left">User Name</td>
                                        <td class="pull-right">{{data.username}}</td>
                                    </tr>
                                    <tr>
                                        <td class="pull-left">Email</td>
                                        <td class="pull-right">{{data.email}}</td>
                                    </tr>
                                    <tr *ngIf="data.gender == null">
                                        <td class="pull-left">Gender</td>
                                        <td class="pull-right">Not Specified</td>
                                    </tr>
                                    <tr *ngIf="data.gender != null">
                                        <td class="pull-left">Gender</td>
                                        <td class="pull-right">{{data.gender}}</td>
                                    </tr>
                                    <tr>
                                        <td class="pull-left">Phone</td>
                                        <td class="pull-right">{{data.phoneNumber}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>