<div class="col" style="width: 65%;margin: 0 0 0 6%;">
    <div widget class="card">
        <div class="card-header">
            <span>Accounts Setting</span>
        </div>
        <div class="card-block widget-body">
            <form [formGroup]="accSetting" (ngSubmit)="submitForm(accSetting)">
                <fieldset>
                    <div class="form-group col-xs-12 zeroPadding">
                        <label for="input-2" class="col-xs-2 control-label">Facebook</label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control checking-field" id="input-2" name="facebook" [formControl]="accSetting.controls['facebook']"
                                [ngModel]="data.facebook">

                            <div *ngIf="accSetting.controls['facebook'].errors && (accSetting.controls['facebook'].dirty || accSetting.controls['facebook'].touched)"
                                class="alert alert-danger">
                                <div [hidden]="!accSetting.controls['facebook'].errors.required">
                                    facebook is required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-xs-12 zeroPadding">
                        <label for="input-2" class="col-xs-2 control-label">Twitter</label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control checking-field" id="input-2" name="twitter" [formControl]="accSetting.controls['twitter']"
                                [ngModel]="data.twitter">

                            <div *ngIf="accSetting.controls['twitter'].errors && (accSetting.controls['twitter'].dirty || accSetting.controls['twitter'].touched)"
                                class="alert alert-danger">
                                <div [hidden]="!accSetting.controls['twitter'].errors.required">
                                    twitter is required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-xs-12 zeroPadding">
                        <label for="input-2" class="col-xs-2 control-label">Instagram</label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control checking-field" id="input-2" name="instagram" [formControl]="accSetting.controls['instagram']"
                                [ngModel]="data.instagram">

                            <div *ngIf="accSetting.controls['instagram'].errors && (accSetting.controls['instagram'].dirty || accSetting.controls['instagram'].touched)"
                                class="alert alert-danger">
                                <div [hidden]="!accSetting.controls['instagram'].errors.required">
                                        instagram is required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-xs-12 zeroPadding">
                        <label for="input-2" class="col-xs-2 control-label">Linkedin</label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control checking-field" id="input-2" name="linkedin" [formControl]="accSetting.controls['linkedin']"
                                [ngModel]="data.linkedin">

                            <div *ngIf="accSetting.controls['linkedin'].errors && (accSetting.controls['linkedin'].dirty || accSetting.controls['linkedin'].touched)"
                                class="alert alert-danger">
                                <div [hidden]="!accSetting.controls['linkedin'].errors.required">
                                        linkedin is required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-xs-12 zeroPadding">
                        <label for="input-2" class="col-xs-2 control-label">Pinterest</label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control checking-field" id="input-2" name="pinterest" [formControl]="accSetting.controls['pinterest']"
                                [ngModel]="data.pinterest">

                            <div *ngIf="accSetting.controls['pinterest'].errors && (accSetting.controls['pinterest'].dirty || accSetting.controls['pinterest'].touched)"
                                class="alert alert-danger">
                                <div [hidden]="!accSetting.controls['pinterest'].errors.required">
                                        pinterest is required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-xs-12 zeroPadding">
                        <label for="input-2" class="col-xs-2 control-label">Youtube</label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control checking-field" id="input-2" name="youtube" [formControl]="accSetting.controls['youtube']"
                                [ngModel]="data.youtube">

                            <div *ngIf="accSetting.controls['youtube'].errors && (accSetting.controls['youtube'].dirty || accSetting.controls['youtube'].touched)"
                                class="alert alert-danger">
                                <div [hidden]="!accSetting.controls['youtube'].errors.required">
                                        youtube is required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-xs-12 zeroPadding">
                        <label for="input-2" class="col-xs-2 control-label">Google</label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control checking-field" id="input-2" name="google" [formControl]="accSetting.controls['google']"
                                [ngModel]="data.google">

                            <div *ngIf="accSetting.controls['google'].errors && (accSetting.controls['google'].dirty || accSetting.controls['google'].touched)"
                                class="alert alert-danger">
                                <div [hidden]="!accSetting.controls['google'].errors.required">
                                        google is required
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-xs-12 zeroPadding" style="text-align: center;">
                        <div class="col-xs-10 col-xs-offset-2" style="margin: 13px 0 0 73px;">
                            <button type="submit" class="btn btn-primary" [disabled]="!accSetting.valid">Save</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="accSettingDelete()">Delete</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>