.buttonCus{
    // margin-left: 72%;
    border: none;
    border-radius: 2px;
    font-size: 14px;
    padding: 6px 21px;
    cursor: pointer;
    color: #fff;
    background: #22A1E4;
    height: 30px;
}
.btnCus1{
    // margin-left: 72%;
    border: none;
    border-radius: 2px;
    font-size: 14px;
    padding: 6px 21px;
    cursor: pointer;
    color: #fff;
    background: #22A1E4;
    height: 30px;
}
.overscroll{
    width: 100px;
    height: 100px;
    overflow: scroll;
}
#userdata_parent{
    max-height: 191px;
    position: absolute;
    overflow: auto;
    width: 90%;
    z-index: 99;
    background: white;
    border: 1px solid #c7c4c4;
}
ul#userdata li {
    list-style-type: none;
}
ul#userdata li:hover{
    background:deepskyblue;
    color:#fff;
    transition: all 300ms ease-in-out

}
ul#userdata {
    padding: 4px 15px;
}
.zeroPadding{
    padding: 0px !important;
}

#edituserdata_parent{
    max-height: 191px;
    position: absolute;
    overflow: auto;
    width: 90%;
    z-index: 99;
    background: white;
    border: 1px solid #c7c4c4;
}
ul#edituserdata li {
    list-style-type: none;
}
ul#edituserdata li:hover{
    background:deepskyblue;
    color:#fff;
    transition: all 300ms ease-in-out

}
ul#edituserdata {
    padding: 4px 15px;
}

.customAdminSearch {
    // margin-left: 50%;
    // float: right;
    // // margin-right: 22px;
    // width: 180px;
    box-sizing: content-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 6px 20px 7px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
.btn-hover
{
    display:inline-block;
    border:0;
    // width:196px;
    // height:210px;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);   

}
.btn-hover:hover
{
    box-shadow: 0px 0px 150px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.5);
}
.table {
    table-layout: fixed;
    word-wrap: break-word;
    width: 100%;
    text-align:center;
}
.custom{
    cursor: pointer;
    color: #22a1e4 !important;
}
.table td a.custom:hover {
    color: blue !important;
    text-decoration: underline !important;
}
div#userDetail td {
    border: 0;
}








.img-upload-btn{
    position: absolute;
    padding: 0;
    width: calc(100% - 30px);
    height: 230px;
    opacity: 0;
}

.image-wrapper{
    position: relative;
    .delete-img{
        position: absolute;
        top: 8px;
        right: 10px;
        border: 2px solid #fff;
        color: #fff;
        padding: 3px 5px;
        border-radius: 50%;
        visibility: hidden;
        cursor: pointer;
    }
    &:hover .delete-img{
        visibility: visible;
    }
}