<!--<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 each-page-header" style="position: fixed;z-index: 99;">
    <div class="float-left">Guest Users</div>
</div>-->

<div class="col-xs-12 bottom-15 pl-0 pr-0 each-page-content">
    <div widget class="card col-xs-12 zeroPadding float-left">
        <div class="card-header custom-style-header">
            <div class="row">
                <div class="pr-0" style="float: left;">
                    <select id="rowpage" class="form-control input-sm" style="margin: -1px 0px 0px 13px;width: 80%;padding: inherit;" [(ngModel)]="rowsOnPage" (change)="ngOnInit();">
                        <option [ngValue]="10">10</option>
                        <option [ngValue]="20">20</option>
                        <option [ngValue]="40">40</option>
                        <option [ngValue]="100">100</option>
                </select>
                </div>
                <div class="pl-0" style="float: left;">
                    <label class="label-control" style="margin: 10px 0px 0px 6px;">records per page</label>
                </div>
                <!--<input class="customSearch" placeholder="Search.." type="text" [(ngModel)]="searchTerm" (keyup)="getPageOnSearch(myinput.value)"
                    #myinput>-->
            </div>
        </div>
        <div class="table-block card-block widget-body">
            <div class="container-fluid pl-0 pr-0">
                <div class="col-xs-12 col-md-12 col-lg-12 pl-0 pr-0">
                    <div class="panel panel-default">
                        <table class="table" [mfData]="data" #mf="mfDataTable" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                            <thead class="thead">
                                <tr>
                                    <th style="width: 5%;text-align: center">
                                        #
                                    </th>
                                    <th style="width: 12%;text-align: center">Last Login Date
                                        <!--<mfDefaultSorter by="lastlogin" (click)="getSort('lastlogin')" *ngIf="sortCondition=='nameasc' || sortCondition=='namedesc'">Last Login Date</mfDefaultSorter>-->
                                    </th>
                                    <th style="width: 27%;text-align: center">Device Id</th>
                                    <th style="width: 16%;text-align: center">Device Name</th>
                                    <th style="width: 15%;text-align: center">Model Number</th>
                                    <th style="width: 15%;text-align: center">Device OS</th>
                                    <th style="width: 15%;text-align: center">App Version</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngIf="msg">
                                    <td colspan="12">No Data Found</td>
                                </tr>
                                <tr *ngFor="let guest of guestUser | paginate: { itemsPerPage: rowsOnPage, currentPage: p, totalItems:count }; let i = index"
                                    [attr.data-index]="i">
                                    <td scope="row">{{i+1}}</td>
                                    <td>{{guest.time | date}}</td>
                                    <td>{{guest.deviceId}}</td>
                                    <td>{{guest.deviceName}}</td>
                                    <td>{{guest.modelNumber}}</td>
                                    <td>{{guest.deviceOs}}</td>
                                    <td>{{guest.appVersion}}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="100">
                                        <pagination-controls (pageChange)="getPage($event)" class="cursor-pointer float-right"></pagination-controls>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>